@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pacifico";
  src: url("./assets/font/Pacifico-Regular.ttf")
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
