*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#app {
  height: 100vh;
  width: 100%;
}

canvas{
  display: block;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


@font-face {
  font-family: 'Patrick Hand';
  src: url('./assets/font/PatrickHand-Regular.ttf');
  font-display: block;
}
@media screen and (max-width: 1200px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 10px;
  }
}
